@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">I like your hotdogs!!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>
        Howdy Costcooooo!!!!! PLEEEEEEEASE come to grand ole' stilly!!!
    </h1>
</div>

<div>
        <h2>Make it look like this please</h2>
    <img src="~/images/costco.jpg" width="400" height="300" />
</div>
